.home-hero {
  width: 100%;
  height: calc(100vh + 158px);
  background-color: var(--primary-color);
  overflow: hidden;
  position: relative;
}

@media (max-width: 1940px) {
  .home-hero {
    height: calc(100vh - 100px);
  }
}

@media (max-width: 1540px) {
  .home-hero {
    height: calc(100vh + 100px);
  }
}
