.global-cta-padding {
  padding: 0 40px;
  width: 100%;
  background-color: var(--primary-color);
}

.global-cta-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  gap: 80px;
}

.global-cta-image-box {
  position: relative;
}

.global-cta-image-box img {
  max-width: 580px;
  margin-bottom: -6px;
  flex: 1 1 0%;
}

.global-cta-content-box {
  display: flex;
  padding: 120px 0;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 0%;
}

.global-cta-content-box h2 {
  margin-bottom: 60px;
  font-size: 70px;
  font-weight: 500;
  color: white;
}

.global-cta-content-box button {
  display: inline-flex;
  width: 200px;
  height: 52px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 99px;
  transition-property: color, background-color;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.global-cta-content-box button img {
  width: 20px;
  margin-left: 10px;
  filter: invert(1);
  transition: filter 0.3s ease;
}

.global-cta-content-box button:hover {
  background-color: white;
  color: black;
}

.global-cta-content-box button:hover img {
  filter: invert(0);
}
