.global-cta-padding {
  padding: 0 40px;
  width: 100%;
  background-color: var(--primary-color);
}

.global-cta-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  gap: 80px;
}

.global-cta-image-box {
  position: relative;
}

.global-cta-image-box img {
  max-width: 580px;
  margin-bottom: -6px;
  flex: 1 1 0%;
}

.global-cta-content-box {
  display: flex;
  padding: 120px 0;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 0%;
}

.global-cta-content-box h2 {
  margin-bottom: 60px;
  font-size: 70px;
  font-weight: 500;
  color: white;
}

.global-cta-content-box button {
  display: inline-flex;
  width: 200px;
  height: 52px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 99px;
  transition-property: color, background-color;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.global-cta-content-box button img {
  width: 20px;
  margin-left: 10px;
  filter: invert(1);
  transition: filter 0.3s ease;
}

.global-cta-content-box button:hover {
  background-color: white;
  color: black;
}

.global-cta-content-box button:hover img {
  filter: invert(0);
}

.global-cta-image-box,
.global-cta-content-box h2,
.global-cta-content-box button {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

.global-cta-image-box.in-view,
.global-cta-content-box h2.in-view,
.global-cta-content-box button.in-view {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1120px) {
  .global-cta-content-box h2 {
    font-size: 50px;
  }
}

@media (max-width: 990px) {
  .global-cta-container {
    gap: 60px;
  }

  .global-cta-image-box {
    max-width: 260px;
  }

  .global-cta-image-box img {
    width: 250px;
  }

  .global-cta-content-box {
    padding: 100px 0;
  }

  .global-cta-content-box h2 {
    margin-bottom: 40px;
  }
}

@media (max-width: 770px) {
  .global-cta-padding {
    padding: 0 16px;
  }

  .global-cta-container {
    flex-flow: column;
    gap: 40px;
  }

  .global-cta-image-box {
    max-width: none;
  }

  .global-cta-image-box img {
    width: 100%;
  }

  .global-cta-content-box {
    padding-top: 0px;
    padding-bottom: 60px;
  }

  .global-cta-content-box h2 {
    margin-bottom: 30px;
  }
}

@media (max-width: 540px) {
  .global-cta-content-box h2 {
    font-size: 40px;
  }
}
