.properties-details-section-padding {
  padding: 120px 40px;
}

.properties-details-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.properties-details-inner {
  display: flex;
  margin-bottom: 60px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px 200px;
}

.properties-hero-details {
  min-width: 640px;
  flex-flow: 1 1 0%;
}

.properties-details-heading {
  overflow: hidden;
}
.properties-details-heading h1 {
  margin-bottom: 40px;
  font-size: 92px;
  font-weight: 500;
  color: var(--primary-color);
}

.properties-details-price {
  display: flex;
  margin-bottom: 16px;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  font-size: 30px;
  font-weight: 500;
  line-height: 126%;
  color: var(--primary-color);
}

.properties-details-items {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px 28px;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-color);
}

.properties-details-items span {
  display: inline-flex;
  gap: 5px;
}

.properties-hero-buy-wrapper {
  min-width: 300px;
  flex: 1 1 0%;
}

.properties-hero-buy-wrapper p {
  max-width: 560px;
  margin-bottom: 48px;
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-color);
  line-height: 1.6;
}

.properties-hero-buy-wrapper button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 52px;
  padding: 15px 30px;
  border: 1px solid var(--secondary-color);
  border-radius: 99px;
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 18px;
  text-transform: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.properties-hero-buy-wrapper button img {
  width: 22px;
  height: 22px;
  filter: invert(51%) sepia(94%) saturate(2048%) hue-rotate(359deg)
    brightness(100%) contrast(104%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.properties-hero-buy-wrapper button:hover {
  background-color: var(--secondary-color);
  color: white;
}

.properties-hero-buy-wrapper button:hover img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(141deg)
    brightness(106%) contrast(101%);
  transform: translateX(4px);
}

.properties-details-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  min-height: 400px;
  aspect-ratio: 16/9;
  margin-bottom: -150px;
  overflow: hidden;
}

.properties-details-slider img {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;
}

.properties-slider-arrow-left,
.properties-slider-arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  color: rgb(255, 99, 20);
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.properties-slider-arrow-left:hover,
.properties-slider-arrow-right:hover {
  background-color: rgb(255, 99, 20);
  color: white;
}

.properties-slider-arrow-left {
  left: 60px;
}

.properties-slider-arrow-right {
  right: 60px;
}

.properties-details-heading,
.properties-hero-buy-wrapper p,
.properties-hero-buy-wrapper button,
.properties-details-info {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.properties-details-heading.in-view {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
}

.properties-hero-buy-wrapper p.in-view {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.properties-hero-buy-wrapper button.in-view {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

.properties-details-info.in-view {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}

.properties-details-slider {
  position: relative;
  overflow: hidden;
}

.properties-details-slider img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  transform: scale(1.2);
  transition: transform 0.8s ease-out;
}

.properties-details-slider.in-view img {
  transform: scale(1);
}

.slide-left {
  animation: slideLeft 0.5s forwards;
}

.slide-right {
  animation: slideRight 0.5s forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%) scale(1.2);
  }
  100% {
    transform: translateX(0%) scale(1);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%) scale(1.2);
  }
  100% {
    transform: translateX(0%) scale(1);
  }
}

@media (max-width: 1280px) {
  .properties-details-section-padding {
    padding-top: 98px;
    padding-bottom: 150px;
  }

  .properties-details-inner {
    gap: 56px;
  }
}

@media (max-width: 991px) {
  .properties-details-section-padding {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .properties-details-inner {
    margin-bottom: 48px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
  }

  .properties-details-heading {
    max-width: none;
  }

  .properties-details-heading h1 {
    margin-bottom: 24px;
  }

  .properties-hero-buy-wrapper {
    max-width: 720px;
  }

  .properties-hero-buy-wrapper p {
    margin-bottom: 24px;
  }

  .properties-details-slider img {
    border-radius: 10px;
  }
  .properties-details-heading h1 {
    font-size: 72px;
  }
}

@media (max-width: 770px) {
  .properties-details-section-padding {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .properties-details-inner {
    gap: 16px;
  }

  .properties-hero-details {
    min-width: auto;
  }

  .properties-hero-buy-wrapper {
    min-width: auto;
  }

  .properties-details-heading h1 {
    font-size: 52px;
  }

  .properties-slider-arrow-left {
    left: 30px;
  }

  .properties-slider-arrow-right {
    right: 30px;
  }

  .properties-slider-arrow-left,
  .properties-slider-arrow-right {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 479px) {
  .properties-details-section-padding {
    padding-top: 60px;
  }

  .properties-details-inner {
    margin-bottom: 30px;
  }

  .properties-slider-arrow-left {
    left: 10px;
  }

  .properties-slider-arrow-right {
    right: 10px;
  }
}
