.navbar {
  margin-top: 10px;
}

.padding-section {
  padding: 0 40px;
}

.container {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 0 80px;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

.navbar-inner img {
  width: 165px;
  height: 40px;
  cursor: pointer;
}

.navbar-menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-menus-list {
  display: flex;
  align-items: center;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-menus-list li,
.navbar-drop-down {
  font-size: 18px;
  color: white;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar-menus-list li:hover {
  color: var(--secondary-color);
}

.navbar-drop-down {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 48px;
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  width: 370px;
  height: 170px;
  top: 38px;
  right: 0;
  background-color: #f4f3ee;
  color: #002820;
  border-radius: 14px;
  padding: 25px 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.2s ease-in-out;
  z-index: 9999;
  cursor: default;
}

.dropdown-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.dropdown-column p {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 8s cubic-bezier(0.25, 1, 0.5, 1);
  line-height: 1.6;
}

.dropdown-column p:hover {
  color: var(--secondary-color);
}

.dropdown-icon {
  transform: rotate(0deg);
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transform-origin: center;
  display: inline-block;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.dropdown-menu-wrapper {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

.dropdown-menu-wrapper.open {
  max-height: 250px;
  opacity: 1;
  pointer-events: auto;
}

.dropdown-menu-wrapper.open {
  max-height: 300px;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
