.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: var(--primary-color);
  box-shadow: none;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow-x: hidden;
  transition: transform 0.4s ease-in-out;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  transform-origin: center center;
  will-change: transform;
  z-index: 100000;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.sidebar-logo {
  width: 140px;
  cursor: pointer;
}

.sidebar-close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  font-size: 32px !important;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-close,
.sidebar-close * {
  transition: transform 0.3s ease;
  transform-origin: center center !important;
}

.sidebar-close:hover,
.sidebar-close:hover *,
.sidebar-close:hover svg,
.sidebar-close:hover path {
  transform: rotate(90deg) !important;
  transform-origin: center center !important;
  color: crimson;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
}

.sidebar-content {
  width: 100%;
  max-width: 380px;
}

.sidebar-menu li {
  cursor: pointer;
  transition: color 0.2s ease;
}

.sidebar-menu li:hover {
  color: var(--secondary-color);
}

.sidebar-dropdown {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pages-dropdown-icon {
  transition: transform 0.3s ease !important;
}

.pages-dropdown-icon.rotate {
  transform: rotate(180deg);
}

.sidebar-submenu {
  list-style: none;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
