.footer {
  padding-top: 100px;
}

.footer-padding {
  padding: 0 40px;
}

.footer-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.footer-inner {
  display: flex;
  margin-bottom: 60px;
  gap: 100px;
}

.footer-details {
  max-width: 330px;
  flex: 1 1 0%;
}

.footer-details img {
  margin-bottom: 24px;
}

.footer-details p {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-color);
}

.footer-social-icons {
  display: flex;
  margin-bottom: 36px;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.footer-social-icons svg {
  display: inline-flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.5s ease;
  color: rgb(13, 14, 19);
  font-size: 24px;
  cursor: pointer;
}

.footer-social-icons svg:hover {
  color: rgb(255, 99, 20);
}

.footer-details button {
  display: inline-flex;
  justify-content: center;
  gap: 8px;
  height: 52px;
  padding: 15px 30px;
  border: 1px solid var(--secondary-color);
  border-radius: 99px;
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 18px;
  text-transform: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-details button img {
  width: 22px;
  height: 22px;
  filter: invert(51%) sepia(94%) saturate(2048%) hue-rotate(359deg)
    brightness(100%) contrast(104%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.footer-details button:hover {
  background-color: var(--secondary-color);
  color: white;
}

.footer-details button:hover img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(141deg)
    brightness(106%) contrast(101%);
  transform: translateX(4px);
}

.footer-links-wrapper {
  display: flex;
  flex: 1 1 0%;
  gap: 80px;
}

.footer-link-column {
  display: flex;
  flex-flow: column;
  flex: 1 1 0%;
}

.footer-link-column h2 {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}

.footer-links {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 0%;
  gap: 12px;
}

.footer-links span {
  transition: all 0.5s ease;
  color: rgb(86, 89, 90);
  line-height: 155%;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.footer-links span:hover {
  color: rgb(255, 99, 20);
}

.footer-links p {
  transition: all 0.5s ease;
  color: rgb(86, 89, 90);
  line-height: 155%;
  font-size: 18px;
  font-weight: 500;
}

.footer-cta {
  display: flex;
  padding: 60px 0;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px 16px;
  border-top: 1px solid rgba(86, 89, 90, 0.5);
}

.footer-cta-content h3 {
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: 500;
  color: var(--primary-color);
}

.footer-cta-content p {
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-color);
}

.footer-cta button {
  display: inline-flex;
  height: 52px;
  padding: 15px 30px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 99px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 18px;
  line-height: 140%;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  gap: 8px;
}

.footer-cta button img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(141deg)
    brightness(106%) contrast(101%);
}

.footer-bottom {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  border-top: 1px solid rgba(86, 89, 90, 0.5);
}

.footer-bottom span {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}

.footer-bottom .highlight {
  color: rgb(86, 89, 90);
  line-height: 155%;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.footer-bottom .highlight:hover {
  color: rgb(255, 99, 20);
}

@media (min-width: 1280) {
  .footer-inner {
    gap: 144px;
  }
}

@media (max-width: 990px) {
  .footer {
    padding-top: 80px;
  }

  .footer-inner {
    margin-bottom: 60px;
    gap: 40px;
  }

  .footer-social-icons {
    margin-bottom: 30px;
  }

  .footer-links-wrapper {
    gap: 44px;
  }

  .footer-cta {
    padding: 40px 0;
  }
}

@media (max-width: 770px) {
  .footer {
    padding-top: 60px;
  }

  .footer-padding {
    padding: 0 16px;
  }

  .footer-inner {
    margin-bottom: 40px;
    flex-flow: column;
  }

  .footer-links-wrapper {
    gap: 30px;
  }

  .footer-cta {
    padding: 24px 0;
    flex-flow: wrap;
  }

  .footer-cta-content h3 {
    font-size: 24px;
  }

  .footer-bottom {
    padding: 24px 0;
  }
}

@media (max-width: 479px) {
  .footer-links-wrapper {
    flex-flow: wrap;
  }

  .footer-links {
    max-width: 230px;
  }

  .footer-bottom {
    flex-flow: column;
    gap: 16px;
  }
}
