:root {
  --primary-color: #09261d;
  --secondary-color: #ff6314;
  --tertiary-color: #f7f5f0;
  --grey-color: #56595a;
}

* {
  font-family: "Urbanist", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
