.inner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 150px 80px;
  width: 100%;
  height: 440px;
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 40px;
}

.content-box {
  flex: 0 1 716px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-150px);
  justify-content: flex-start;
}

.content-box h1 {
  color: white;
  font-size: 92px;
  font-weight: 500;
  line-height: 1.05;
  margin-bottom: 50px;
  word-break: break-word;
  max-width: 100%;
  margin-top: 0;
}

.inner-section-btn {
  display: inline-flex;
  width: 230px;
  height: 52px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 99px;
  transition-property: color, background-color;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.inner-section-btn img {
  width: 25px;
  margin-left: 10px;
  filter: invert(1);
  transition: filter 0.3s ease;
}

.inner-section-btn:hover {
  background-color: white;
  color: black;
}

.inner-section-btn:hover img {
  filter: invert(0);
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-right: 80px;
  margin-top: 20px;
}

.img-box img {
  width: 500px;
  height: 100%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  object-fit: cover;
  margin-top: 100px;
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  opacity: 0;
  animation: slideInFromBottom 0.8s ease-out forwards;
}

h1.slide-in {
  animation-delay: 0s;
}

button.slide-in {
  animation-delay: 0.2s;
}

.img-box.slide-in {
  animation-delay: 0.4s;
}

@media screen and (max-width: 1400px) {
  .inner-section {
    padding: 130px 70px;
  }

  .content-box h1 {
    font-size: 84px;
    line-height: 1.05;
  }

  .img-box img {
    width: 470px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 1290px) {
  .inner-section {
    padding: 120px 60px;
    gap: 40px;
  }

  .content-box {
    transform: translateY(-80px);
  }

  .content-box h1 {
    font-size: 74px;
  }

  .img-box img {
    width: 430px;
    margin-top: 70px;
  }
}

@media screen and (max-width: 1120px) {
  .inner-section {
    padding: 110px 50px;
    gap: 30px;
  }

  .content-box h1 {
    font-size: 64px;
    line-height: 1.1;
  }

  .img-box img {
    width: 400px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 1020px) {
  .inner-section {
    padding: 100px 40px;
    gap: 25px;
  }
  .content-box {
    transform: translateY(-20px);
  }
  .content-box h1 {
    font-size: 58px;
    line-height: 1.1;
  }

  .img-box img {
    width: 360px;
    margin-top: 50px;
  }
}

@media (max-width: 990px) {
  .inner-section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    padding-top: 0;
    height: auto;
    margin-left: 0;
    gap: 60px;
    margin-top: 0;
  }

  .inner-section .content-box {
    flex: 1 1 auto;
    flex-basis: 100%;
    text-align: start;
    transform: translateY(15px);
    width: 100%;
  }

  .content-box h1 {
    font-size: 68px;
    line-height: 1.15;
    margin-bottom: 25px;
    margin-top: 0;
  }

  .img-box {
    margin: 0;
    width: 100%;
  }

  .img-box img {
    width: 100%;

    border-radius: 40% 40% 0 0;
  }
}

@media (max-width: 770px) {
  .inner-section {
    padding: 24px;
    gap: 40px;
  }

  .content-box {
    margin-left: 30px;
  }
  .content-box h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 25px;
  }

  .img-box img {
    width: 100%;

    margin-top: 20px;
    border-radius: 30% 30% 0 0;
  }
}

@media (max-width: 470px) {
  .content-box h1 {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 25px;
  }
}

@media (max-width: 390px) {
  .content-box h1 {
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 25px;
  }
}
